---

- name: Install splunk uf
  become: true
  apt: deb="{{ ludus_ar_linux_splunk_uf_url }}"

- name: copy outputs.conf to forward data to splunk server
  become: true
  template:
    src: outputs.conf.j2
    dest: /opt/splunkforwarder/etc/system/local/outputs.conf

- name: splunk license acceptance
  become: true
  command: /opt/splunkforwarder/bin/splunk start --accept-license --answer-yes --no-prompt --seed-passwd {{ ludus_ar_linux_splunk_password }}

- name: Stop splunk uf
  become: true
  command: "/opt/splunkforwarder/bin/splunk stop"

- name: setup to start at boot
  become: true
  command: "/opt/splunkforwarder/bin/splunk enable boot-start"

- name: Start splunk uf
  become: true
  systemd:
    name: SplunkForwarder
    state: started