---

- name: Check if Atomic Red Team atomics folder is already installed
  become: true
  stat:
    path: /root/AtomicRedTeam/atomics
  register: art_atomics_installed
  changed_when: false

- name: Check if Atomic Red Team module directory exists
  become: true
  stat:
    path: /root/AtomicRedTeam/Invoke-AtomicRedTeam
  register: art_module_installed
  changed_when: false

- name: Set fact for Atomic Red Team installation needed
  set_fact:
    art_needs_installation: "{{ (not (art_atomics_installed.stat.exists | default(false))) or (not (art_module_installed.stat.exists | default(false))) }}"
  changed_when: false

- name: Install Atomic Red Team
  become: true
  shell: |
    pwsh -Command 'IEX (IWR https://raw.githubusercontent.com/redcanaryco/invoke-atomicredteam/master/install-atomicsfolder.ps1 -UseBasicParsing); 
    Install-AtomicsFolder -Force; 
    IEX (IWR https://raw.githubusercontent.com/redcanaryco/invoke-atomicredteam/master/install-atomicredteam.ps1); 
    Install-AtomicRedTeam -Force'
  register: output_art
  when: art_needs_installation | bool
  changed_when: art_needs_installation | bool

- name: create directory for default powershell profile
  file: 
   path: /root/.config/powershell
   recurse: yes
   state: directory

- name: copy default powershell profile
  copy:
    src: Microsoft.PowerShell_profile.ps1
    dest: /root/.config/powershell/Microsoft.PowerShell_profile.ps1
    force: yes