---

- include_tasks: install_universal_forwarder.yml
- include_tasks: install_osquery_linux.yml
- include_tasks: install_sysmon_linux.yml
- include_tasks: install_auditd.yml
- include_tasks: install_art.yml

- name: Reboot the server
  reboot:
    msg: "Rebooting server after ansible provisioning"
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime
  become: yes