---

- include_tasks: install_universal_forwarder.yml
- include_tasks: install_osquery_linux.yml
- include_tasks: install_sysmon_linux.yml
- include_tasks: install_auditd.yml
- include_tasks: install_art.yml

- name: Start splunk uf
  become: true
  systemd:
    name: SplunkForwarder
    state: restarted
